input/*
.snakemake/*
benchmarks/*
plink/*
vcf/*
.vscode/settings.json
merged.missnp
merged.log
merged.fam
merge.list
imputed/*
phase/*
king/*
cm/*
germline/*
hap/*
ped/*
ersa/*
ibis/*
stats/*
dag.png
.idea
results/relatives.tsv
scripts/__pycache__/*
logs/*
scripts/utils/__pycache__/*
.zattrs/*
zarr/*
/analysis_data/
